---
import Layout from "../layouts/Layout.astro";
import Tecnologias from '../components/tecnologias.astro'
import Menu from "../components/menu.astro";
---

<Layout title="home" >
	<div class="bg-yellow-50 h-screen w-screen ">
		<!-- <video
			src="/back.mp4"
			autoplay
			muted
			loop
			playsinline
			style="width: 100%; height: auto;"
			class="absolute z-0 w-full h-full object-fill "></video> -->
		<video
  src="/back.mp4"
  autoplay
  muted
  loop
  playsinline
  class="fixed top-0 left-0 w-screen h-screen object-cover z[-1]"
></video>
			<div class="relative z-10 pt-5 h-full">
		<Menu></Menu>
			<div class="w-full relative z-10 mt-10 grid md:grid-cols-2">
				<div class="  bg-white rounded-2xl ">
					<video src="/back.mp4" autoplay loop class=" overflow-hidden w-full"></video>
				</div>
				<div class="">
					<div class="bg-white  rounded-2xl p-3 sm:flex">
						<div class="flex sm:justify-start  justify-center sm:flex-auto">

							<img
								src="/favicon.svg"
								class="bg-amber-300 h-full max-h-60 flex "
								alt=""
							/>
						</div>
						<div class="flex-1/2 p-5 " >
							<p>hola , mi nombre es josue Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque explicabo nobis, modi pariatur corrupti animi! Illum, cum perspiciatis non suscipit dolor asperiores magni dolores, iusto harum quia placeat aut delectus!</p>
						</div>
					</div>
					<Tecnologias></Tecnologias>
				</div>
			</div>
		</div>
	</div>
</Layout>


