---
import Layout from "../layouts/Layout.astro";
import Tecnologias from "../components/tecnologias.astro";
import Menu from "../components/menu.astro";
---

<Layout title="home">
	<div class="bg-yellow-50 h-screen w-screen">
		<!-- <video
			src="/back.mp4"
			autoplay
			muted
			loop
			playsinline
			style="width: 100%; height: auto;"
			class="absolute z-0 w-full h-full object-fill "></video> -->
		<video
			src="/back.mp4"
			autoplay
			muted
			loop
			playsinline
			class="fixed top-0 right-10 md:right-0 md:left-auto left-0 w-screen h-screen object-[30%_center] md:object-center object-cover z[-1"
		></video>
		<div class="relative z-10 pt-5 h-full">
			<!-- <Menu /> -->
			<div class="w-full relative z-10 mt-10 grid md:grid-cols-2">
				<div class="rounded-2xl">
					<!-- <video src="/back.mp4" autoplay loop class=" overflow-hidden w-full"></video> -->
				</div>
				<div class="">
					<div class="bg-white    rounded-2xl p-3 sm:flex">
						<div
							class="flex sm:justify-start justify-center sm:flex-auto"
						>
							<img
								src="/profile.jpg"
								class="bg-amber-300 h-full max-h-60 bor flex rounded-full"
								alt=""
							/>
						</div>
						<div class="flex-1/2 p-5 bg-white ">
							<h1 class="text-6xl ">Welcome</h1>
							<p>
								Mi nombre es Stiven Mantuano
							</p>
						</div>
					</div>
					<Tecnologias />
				</div>
			</div>
		</div>
	</div>
	<div
		class="  relative  bg-gray-800      bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:15px_15px] bg-fixed [--pattern-fg:gray] "
	>

	<div class="  bg-white text-center mx-52 mt-3 text-4xl font-bold">
		PROYECTOS

	</div>
	<div class="pt-4 flex space-x-5">
<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
  <img class="w-full bg-amber-200" src="/favicon.svg"  alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
  </div>
</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
  <img class="w-full bg-amber-200" src="/favicon.svg"  alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
  </div>
</div>

	</div>
	<!-- bg-[image:radial-gradient(black_3px,_transparent_0)] bg-fixed bg-[size:30px_30px]    relative  -->
		
	</div>

	


	<!-- <div class=" h-112 bg-white
	  bg-[image:repeating-linear-gradient(0deg,_blue_0px,_blue_1px,_transparent_1px,_transparent_30px),_repeating-linear-gradient(90deg,_blue_0px,_blue_1px,_transparent_1px,_transparent_30px)]
	  bg-[size:20px_20px]
	  bg-fixed
	  relative
	  w-full
	  
	">
	</div> -->

	
</Layout>
