---
import Layout from "../layouts/Layout.astro";
import Tecnologias from "../components/tecnologias.astro";
import Menu from "../components/menu.astro";
import Cardproyect from "../components/cardproyect.astro";
---

<Layout title="home" class="snap-y">
	<div class="bg-yellow-50 h-screen w-screen  snap-center">
		<!-- <video
			src="/back.mp4"
			autoplay
			muted
			loop
			playsinline
			style="width: 100%; height: auto;"
			class="absolute z-0 w-full h-full object-fill "></video> -->
		<video
			src="/back.mp4"
			autoplay
			muted
			loop
			playsinline
			class="fixed top-0 right-10 md:right-0 md:left-auto left-0 w-screen h-screen object-[30%_center] md:object-center object-cover z[-1"
		></video>
		<div id="seccion1" class="relative z-10 pt-5 h-full ">
			<div></div>
			<div class="w-full relative z-10 mt-10 grid md:grid-cols-2">
				<div class="rounded-2xl"></div>
				<div class="">
					<div class="sm:flex">
						<svg
							class="w-12 h-12"
							viewBox="0 0 24 24"
							fill="none"
							stroke="#607d8b"
							stroke-width="1"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path d="M3 12h4.5l1.5 -6l4 12l2 -9l1.5 3h4.5"
							></path>
							<h1 class="p-0 m-0 sm:text-5xl text-4xl text-white">
								Bienvenido!
							</h1>
						</svg>
					</div>
					<hr class="bg-white" />
					<div
						class="bg-cyan-700/30 backdrop-blur-sm shadow-xl my-6 sm:mr-3 rounded-2xl p-3 sm:flex"
					>
						<div class="flex-1/2">
							<h1 class="sm:text-6xl p-0 m-0 text-white">Stiven Mantuano </h1>
							<hr class="text-white">
							<p class="text-white">Soy una persona sencilla que disfruta de dasarrollar aplicaciones  web</p>
						</div>
					</div>

					<Tecnologias />
					<div
						class="bg-red-800/30 backdrop-blur-sm shadow-xl my-6 sm:mr-3 rounded-2xl p-3 sm:flex"
					>
						<div class="flex flex-row">
							<svg
								viewBox="0 0 24 24"
								fill="none"
								stroke="#607d8b"
								stroke-width="1"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="w-20 h-20"
							>
								<path
									d="M16 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
								></path>
								<path
									d="M12 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
								></path>
								<path
									d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"
								></path>
								<path d="M12 15v-6"></path>
								<path d="M15 11l-2 -2"></path>
								<path d="M11 7l-1.9 -1.9"></path>
								<path
									d="M13.446 2.6l7.955 7.954a2.045 2.045 0 0 1 0 2.892l-7.955 7.955a2.045 2.045 0 0 1 -2.892 0l-7.955 -7.955a2.045 2.045 0 0 1 0 -2.892l7.955 -7.955a2.045 2.045 0 0 1 2.892 0z"
								></path>
							</svg>
							<h1 class="text-3xl pr-1 text-white">Git hub: </h1>
							<a href="https://github.com/josueskt" class="text-3x1 text-white  hover:text-blue-950 m-auto no-underline text-2xl  text-black">
								https://github.com/josueskt
							</a>

						</div>
					</div>

					<div></div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="relative snap-end bg-gray-800 bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:15px_15px] bg-fixed [--pattern-fg:gray]"
	>
		<div id="seccion2" 
			class="bg-white text-center sm:mx-52 mx-5 rounded mt-3 text-4xl font-bold"
		>
			PROYECTOS
		</div>
		<div
			class="pt-4 flex flex-wrap justify-center items-center sm:flex-row flex-col"
		>
			<Cardproyect
				spans={["Sistema publico"]}
				title="Biblioteca yavirac"
				image="/proyectos/biblioteca/biblioteca_login.png"
				review="Sistema bibliotecario para el instituto yavirac"
				url="/proyectos/bibliotecayavirac"

				/>
			<Cardproyect
				spans={["Sistema privado"]}
				title="Portal Epsilaco"
				image="/proyectos/portalEp/home.png"
				review="Portal de tramites de la empresa privada epsilaco de revicion vehicular"
			/>
		</div>

	</div>
	<div
		class="relative snap-start bg-gray-800 bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:15px_15px] bg-fixed [--pattern-fg:gray]"
	>
	
	<div class="bg-white text-center  rounded sm:text-4xl font-bold">
		Intereses
	</div>
		<div class="flex flex-wrap justify-center">

			<div class="flex flex-wrap flex-row sm:px-52">
				<p class="bg-white/35 text-2xl rounded-4xl sm:p-3 text-black">
					Desarrollo de  backend
				</p>
				<p class="bg-white/35 text-2xl rounded-4xl sm:p-3 text-black">
					Sql
				</p>
					<p class="bg-white/35 text-2xl rounded-4xl sm:p-3 text-black">
					Diseño 3D
				</p>
			
			</div>
			<div class=" flex sm:w-full sm:justify-end justify-center ">
				 <div class="bg-amber-400 sm:pr-5  sm:m-5 rounded-2xl "><p>Informacion de contacto:</p>
					<div class=" flex ">
<svg
  width="32"
  height="32"
  viewBox="0 0 24 24"
  fill="none"
  stroke="#607d8b"
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
  <path d="M3 6l9 6l9 -6" />
  <path d="M15 18h6" />
  <path d="M18 15l3 3l-3 3" />
</svg>

						<p class="m-auto">Correo : stivenmantuanoz@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>


