<!-- <nav class="flex justify-center text-white">
  
    <ul class=" grid md:grid-cols-4 grid-cols-2  w-full md:w-1/2 rounded-4xl text-xl md:text-2xl p-2 sm:p-0 m-0 text-center h-16">
        <div class="flex items-center justify-center bg-emerald-900 relative overflow-hidden rounded-l-full">
            <a href="#" class="no-underline relative z-10 -left-1 text-white">home</a>
            <div class="absolute right-3 sm:h-16 min-h-10 sm:w-60 min-w-52 bg-cyan-950 rounded-full sm:border-2"></div>
        </div>
       
        <div class="flex items-center justify-center sm:bg-emerald-600 relative overflow-hidden">
            <a href="#" class="no-underline relative z-10 -left-5 text-white">Sobre mi</a>
            <div class="absolute right-3 sm:h-16 min-h-10 sm:w-60 min-w-52 bg-emerald-900 rounded-full sm:border-2"></div>
        </div>
        <div class="flex items-center justify-center bg-zinc-900 relative overflow-hidden">
            <a href="#" class="no-underline relative z-10 text-white -left-5">Proyectos</a>
            <div class="absolute right-3 md:h-16 min-h-10  min-w-52 md:w-60 bg-emerald-600 rounded-full"></div>
        </div>
        <div class="flex items-center justify-center relative bg-zinc-900 overflow-hidden rounded-r-full">
            <a href="#" class="no-underline relative z-10 text-white -left-5">Contacto</a>
            <div class="absolute right-3 md:h-16 min-h-10  md:w-60 min-w-56 bg-zinc-900 rounded-full"></div>
        </div>
    </ul>


</nav> -->

<nav class=" sm:w-2xs    flex ">
    <ul class=" flex items-start  w-sm h-full  m-1 p-3 bg-white rounded border-2">
       <!--
tags: [app, control, devices, speaker]
category: Brand
unicode: "f601"
version: "1.114"
-->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="32"
  height="32"
  viewBox="0 0 24 24"
  fill="none"
  stroke="#607d8b"
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M19.072 21h-14.144a1.928 1.928 0 0 1 -1.928 -1.928v-6.857c0 -.512 .203 -1 .566 -1.365l7.07 -7.063a1.928 1.928 0 0 1 2.727 0l7.071 7.063c.363 .362 .566 .853 .566 1.365v6.857a1.928 1.928 0 0 1 -1.928 1.928z" />
  <path d="M7 13v4h10v-4l-5 -5" />
  <path d="M14.8 5.2l-11.8 11.8" />
  <path d="M7 17v4" />
  <path d="M17 17v4" />
</svg>

        <a class="m-auto mx-0 text-2xl no-underline text-black hover:animate-bounce duration-150" href="/">Home</a>
    </ul>
</nav>