---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background"  class="w-100" src={background.src} alt="" fetchpriority="high" />



</div>


