---
import Cardproyect from "../../components/cardproyect.astro";
import Menu from "../../components/menu.astro";
import Tecnologias from "../../components/tecnologias.astro";
import Layout from "../../layouts/Layout.astro";


---
<Layout title="biblioteca yavirac">
<div class=" bg-gray-200 ">
    <div class="elative snap-end bg-gray-800 bg-[image:radial-gradient(var(--pattern-fg)_1px,_transparent_0)] bg-[size:15px_15px] bg-fixed [--pattern-fg:gray]">
    <Menu></Menu>

    <div class="  sm:grid sm:grid-cols-2    ">
        <div>
            <img class="w-full" src="/proyectos/biblioteca/home.png" alt="">
        </div>
        <div class="  sm:mx-3 rounded-2xl  flex flex-col sm:flex-col-reverse align-top justify-end  ">
            <div class=" flex flex-col m-0 p-0 ">
    
                <a href="https://bibliotecayavirac.com/#/login" class="no-underline mb-2 hover:p-2 duration-100 text-white bg-cyan-600 p-3 border-0 m-auto rounded text-center ">
                    <!--
    tags: [panoramic, degrees, image, around]
    version: "1.33"
    unicode: "ed84"
    -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 24 24"
      fill="none"
      class="stroke-white p-0 m-auto"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
      <path d="M12 12m-4 0a4 9 0 1 0 8 0a4 9 0 1 0 -8 0" />
      <path d="M3 12c0 2.21 4.03 4 9 4s9 -1.79 9 -4s-4.03 -4 -9 -4s-9 1.79 -9 4z" />
    </svg>
    
                    Ir a la pagina del proyecto</a>
                
            <a href="https://github.com/josueskt/Proy" class="no-underline sm:hidden hover:p-2 duration-100 text-white bg-cyan-600 p-3 border-0 m-auto rounded text-center "> 
                <!--
tags: [programming, coding, software, perl, boume shell]
category: Brand
version: "1.45"
unicode: "ef6f"
-->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="22"
  height="22"
  viewBox="0 0 24 24"
  fill="none"
  class="stroke-white"
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M16 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M12 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M12 15v-6" />
  <path d="M15 11l-2 -2" />
  <path d="M11 7l-1.9 -1.9" />
  <path d="M13.446 2.6l7.955 7.954a2.045 2.045 0 0 1 0 2.892l-7.955 7.955a2.045 2.045 0 0 1 -2.892 0l-7.955 -7.955a2.045 2.045 0 0 1 0 -2.892l7.955 -7.955a2.045 2.045 0 0 1 2.892 0z" />
</svg>

                Ver en git hub</a>
    
                
            </div>
    
    
              <div class="m-0 p-0 top-0">
                  <h2 class="text-center bg-white rounded-lg">
                Informacion del proyecto
    
            </h2>
            <p class="bg-cyan-600 text-white shadow-xl sd:w-2xl sm:mr-3 rounded-lg p-3 "> 
                <strong>    
    
                    Proyecto realizado para el intituto yavirac 
                </strong>,
                consiste en un sistema bibliotecaraio  para le gestion de libros academicos  tanto fisicos como digitales , contando con proteciones contra descarga de pdfs ,a ademas de carga masiva de usuarios y libros mediante exel , cuanta con prestamos a los usuarios 
            </p>
            <div class="">
             
              
                <div class=" text-center  ">
            <a href="https://github.com/josueskt/Proy" class="no-underline hover:p-2 duration-100  sm:mb-2 hidden md:inline-block text-white bg-cyan-600 p-3 border-0 m-auto rounded text-center ">
                <svg
  xmlns="http://www.w3.org/2000/svg"
  width="22"
  height="22"
  viewBox="0 0 24 24"
  fill="none"
  class="stroke-white"
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M16 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M12 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
  <path d="M12 15v-6" />
  <path d="M15 11l-2 -2" />
  <path d="M11 7l-1.9 -1.9" />
  <path d="M13.446 2.6l7.955 7.954a2.045 2.045 0 0 1 0 2.892l-7.955 7.955a2.045 2.045 0 0 1 -2.892 0l-7.955 -7.955a2.045 2.045 0 0 1 0 -2.892l7.955 -7.955a2.045 2.045 0 0 1 2.892 0z" />
</svg>
                Ver en git hub</a>
    
                </div>
            </div>
        </div>
        </div>
      
    </div>
    <div>
        <h2 class="text-center bg-white border font-bold"> Imagenes</h2>
        <div class="flex flex-wrap m-auto p-0 justify-center  space-x-2 space-y-2 rounded  ">
            <img class="sm:max-w-2xl w-full" src="/proyectos/biblioteca/biblioteca_login.png" alt="">
            <img class="sm:max-w-2xl w-full" src="/proyectos/biblioteca/home.png" alt="">
            <img class="sm:max-w-2xl  w-full" src="/proyectos/biblioteca/menu.png" alt="">
            <img class="sm:max-w-2xl w-full" src="/proyectos/biblioteca/matricas.png" alt="">
            <img class="sm:max-w-2xl w-full" src="/proyectos/biblioteca/inventario.png" alt="">
    
        </div>
    </div>
</div>


</div>
</Layout>
